body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #FFF6EE !important;
}

.custom-navbar {
    background-color: #121212 !important;
}
  
.header-img {
    padding-left: 50px;
    width: 90%;
    height: auto;
}

@media (max-width: 575.98px) {
    .header-img {
      width: 100px;
    }
  }
  
button {
    border: 0;
    background-color: transparent;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #121212;
}

nav.navbar a.navbar-brand {
      width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
}

nav.navbar{
    padding-right: 100px;
}

nav.navbar .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
}
  nav.navbar .navbar-toggler-icon:focus {
   border-bottom: 2px solid #fff;
}
  nav.navbar .navbar-toggler-icon:after,
  nav.navbar .navbar-toggler-icon:before {
   width: 24px;
   position: absolute;
   height: 2px;
   background-color: #fff;
   top: 0;
   left: 0;
   content: '';
   z-index: 2;
   transition: all 300ms linear;
  }
  nav.navbar .navbar-toggler-icon:after {
   top: 8px;
}

.col-auto {
    margin: 0 !important;
}

.row.g-3.align-items-center {
    margin-top: -0.2em;
}

.dropdown-container {
    background-color: #fff;
    margin-top: 18% !important;
    border-radius: 8px;
    padding: 5px 20px;
}

.dropdown-group {
    display: flex;
    margin-top: 23%;
}

@media (max-width: 575.98px) {
    .dropdown-container {
      background-color: #fff;
      margin-top: 8% !important;
      margin-right: 50%;
      margin-left: 3%;
      border-radius: 8px;
      padding: 5px 19px;
    }
  
    .dropdown-group {
      display: flex;
      margin-top: 23%;
    }
  }

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    --bs-btn-active-color: inherit;
    --bs-btn-active-bg: transparent;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.input-group {
    position: relative;
  }
  
  .input-group-append {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
  }

  .input-group:focus-within {
    box-shadow: none !important;
  }
  
  .form-control:focus {
    border-color: inherit !important;
    box-shadow: none !important;
  }

  .navbar-toggler {
    margin-right: -80px;
  }
  
  @media (max-width: 575.98px) {
    .navbar-toggler {
      margin-left: 115px;
    }
  }

  
  @media (max-width: 575.98px) {
    .dropdown-group {
      display: none;
    }
  }

  @media (max-width: 575.98px) {
    .row.g-3.align-items-center {
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 575.98px) {
    .navbar-link, .active.navbar-link {
      display: none;
    }
  }

  @media (max-width: 575.98px) {
    .ms-auto a {
      display: none;
    }
  }

  