body {
    height: 100vh;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    filter: blur(1.5px);
}

#formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 400px;
    max-width: 400px;
    background-color: #00000098;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

label {
    background-color: #FEBD59;
    color: #fff;
    height: 100%;
    padding: 0 5px;
}