.home-card {
    width: 300px;
    margin: 40px;
    
}

.home-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.home-card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.pin {
    position: absolute;
    left: 12px;
    width: 22px;
    height: 20px;
}

.money-text {
    font-weight: bold;
    font-size: 20px;
}

.icon {
    width: 22px;
    height: 20px;
}